html, body, .container, .line, .squre
{
    margin: 0;
    height: 100%;
}
body, .bigContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigContainer
{
    gap: 50px;
}
.container
{
    border-style:solid;
    border-width: 2px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 600px;
}
.line
{
    flex-shrink: 1;
    display: flex;
}


.line >div
{  
 
    flex-shrink: 1;
    flex-basis: 100%;
}

.hover
{
    background-color: black;

}

.buttons
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button
{   
    border-radius: 8px;
    height: auto;
    width: auto;
    font-size: 24px;
    color: #2b3f58;
    background-color: white ;

}
