html, body, .container, .line, .squre
{
    margin: 0;
    height: 100%;
}
body
{
    background-color: #305e97;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 600px;

}
.line
{
    flex-shrink: 1;
    display: flex;
}


.line >div
{  
    border-style:solid;
    border-width: 0.2px;
    flex-shrink: 1;
    flex-basis: 100%;
}

.hover
{
    background-color: black;

}

.buttons
{
    display: flex;
    flex-direction: column;
    gap: 500;
}

button
{   
    border-radius: 8px;
    height: auto;
    width: auto;
    font-size: 24px;
    background-color: #2b3f58;
    color: rgb(255, 193, 78);

}
